workflows/SIGA-Delete-Equipment-Folder.json
{
  "name": "SIGA — Delete Equipment Drive Folder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "siga-delete-equipment-folder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "siga-delete-equipment-folder"
    },
    {
      "parameters": {
        "jsCode": "// ── Auth check ──────────────────────────────────────────────\nconst SHARED_SECRET = 'TON_SECRET_ICI'; // à remplacer en prod\nconst body    = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\n\nconst provided =\n  headers['x-siga-shared-secret'] ||\n  (headers['authorization'] || '').replace(/^Bearer\\s+/i, '');\n\nif (provided !== SHARED_SECRET) {\n  return [{ json: { ok: false, error: 'Unauthorized', code: 401 } }];\n}\n\n// ── Validate payload ────────────────────────────────────────\nconst folder_id    = body.folder_id   || null;\nconst equipment_id = body.equipment_id || null;\nconst label        = body.label       || 'Équipement inconnu';\n\nif (!folder_id) {\n  return [{ json: { ok: false, error: 'folder_id manquant dans le payload', code: 400 } }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    folder_id,\n    equipment_id,\n    label,\n    authorized: true\n  }\n}];"
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-ok",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-authorized",
      "name": "Check Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "mode": "expression",
          "value": "={{ $('Validate Payload').item.json.folder_id }}"
        },
        "updateFields": {
          "trashed": true
        }
      },
      "id": "trash-drive-folder",
      "name": "Trash Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-account",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Validate Payload').item.json;\nconst now = new Date().toISOString();\nconsole.log(`[SIGA_DELETE] ${now} — folder_id=${payload.folder_id} equipment_id=${payload.equipment_id} label=\"${payload.label}\" → Drive folder trashed`);\nreturn [{\n  json: {\n    ok: true,\n    action: 'folder_trashed',\n    folder_id: payload.folder_id,\n    equipment_id: payload.equipment_id,\n    label: payload.label,\n    trashed_at: now\n  }\n}];"
      },
      "id": "build-success-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $('Validate Payload').item.json.error || 'Unauthorized', code: $('Validate Payload').item.json.code || 401 }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Drive folder deletion failed: ' + $json.message, code: 500 }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-drive-error",
      "name": "Respond Drive Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 380]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Check Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Authorized": {
      "main": [
        [
          {
            "node": "Trash Drive Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trash Drive Folder": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Drive Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["SIGA", "Drive", "Delete", "Webhook"],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "1"
}
